.programs {
  margin-bottom: 120px;

  @include vp-1199 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 67px;
  }
}

.programs__container {}

.programs__top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @include vp-767 {
    margin-bottom: 30px;
  }

  & h2 {
    color: $text-additional;
  }
}

.programs__link {
  max-width: 232px;

  @include vp-767 {
    max-width: 203px;
  }
}

.programs__slider {}

.programs__wrapper {}

.programs__slide {}

.programs__btns {}

.programs__arrow {}

.programs__arrow--prev {}

.programs__arrow--next {}
