// Colors
// ---------------------------------

// Default
$text-dark: #484848;
$text-light: #ffffff;
$text-light-additional: #f0efe9;
$text-additional: #316dc2;

$btn-dark: #316dc2;
$btn-light: #ffffff;
$btn-active: #275699;
$btn-disabled: #a9afb7;

$icon-main: #316dc2;
$icon-light: #ffffff;

$form-light: #ffffff;
$form-dark: #484848;
$form-error: #ff5e66;
$form-disabled: #a9afb7;

$overlay-main: rgba(#0d1d33, 0.4);
$overlay-additional: rgba(#316dc2, 0.2);

$color-default-main: #f0efe9;
$color-default-white: #ffffff;
$color-default-additional: #316dc2;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

// Gradient

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13

$ff-placeholder: "Manrope", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.4s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1200: 1200px;
$vp-1440: 1440px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
